* {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    width: 20vw;
    margin: 0vh auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 2px 10px rgb(153, 153, 153);
    border-radius: 1vw;
    margin-top: 10vh;
}

form input {
    width: 10vw;
    margin: 1vh auto;
}

form input[type="submit"] {
    border: none;
    height: 3vh;
    transition: .3s;
}

form input[type="submit"]:hover {
    transition: .3s;
    cursor: pointer;
    background-color: rgb(0, 24, 77);
    color: white;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 1vw;
}